@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto&family=Spartan:wght@700&display=swap');

:root {
    --universal-font: 'Spartan', sans-serif;
    --background-color: hsl(0, 0%, 90%);
    --pad-background: hsl(0, 6%, 86%);
    --numbers-color : hsl(185, 42%, 37%);
    --equal-rest-color : hsl(25, 98%, 40%);
    --result-bar-background: #fff;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    width: 100%;
    font-family: var(--universal-font);
}

h1{
    text-align: center;
}
.calculator-container{

    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 500px;
}

.calculator-container #result-bar{
    width: 90%;
    height: 80px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: hidden;
    outline-color: var(--equal-rest-color);
}

.button-ultimate-container{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    margin-top: 15px;
    background-color: var(--pad-background);
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom:5%;
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
}
.button-ultimate-container button{
    width: 20%;
    background-color: var(--numbers-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: hidden;
    margin-top: 30px;
    height: 50px;
    cursor: pointer;

}

.container-button4 #equal,
 #reset {

    background-color: var(--equal-rest-color);
}
